# fly.toml app configuration file generated for bip-39 on 2026-01-14T21:37:49Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bip-39'
primary_region = 'lhr'

[http_service]
auto_start_machines = true
auto_stop_machines = "suspend"
force_https = true
internal_port = 8_080
min_machines_running = 0
processes = [ "app" ]

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "256mb"
